#container
{
	padding: 10px;
	justify-content: flex-start;
	background-color: forestgreen;
	font-family: calibri;
	font-weight: lighter;

}
#header {
	color: white; 
	text-align: center;
	font-size: 250%;
}
h2, h3, h4 
{
	color: white; 
	font-size: 200%;
}
ol, ul, p, li
{
	color: black; 
	font-size: 100%;
	background-color: white;
	border-color: black;
	border: 0.1em solid black;
}
form
{
	color: white; 
	font-size: 100%;	
}