#container
{
	padding: 10px;
	justify-content: flex-start;
	background-image: url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?auto=format&fit=crop&w=827&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: calibri;
	font-weight: lighter;

}
#header {
	color: white; 
	text-align: center;
	font-size: 250%;
}
h2, h3, h4 
{
	color: white; 
	font-size: 200%;
}
p
{
	color: black; 
	font-size: 100%;
	width: 95%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}
form
{
	color: white; 
	font-size: 100%;	
}
input[type=text] 
{
	font-size: 100%;
    background-color: white;
   /* background-image: url(https://i.pinimg.com/736x/ef/e6/e6/efe6e6252030dfab560802188537f9b4--silhouette-online-store-silhouette-design.jpg);
    background-position: 10px 10px;*/
    background-repeat: no-repeat;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    width: 50%
}
input[type=placeholder]
{

}
input[type=submit] 
{
	font-size: 100%;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}